@font-face {
    font-family: hieuFont;
    src: url("../assets/Fonts/OpenSans-Regular.woff");
}
body {
    font-family: hieuFont;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}
